
@import 'reset.scss';
* {
  box-sizing: border-box;
}

*:after, *:before {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  overflow-x: hidden;
  background-color: #ccc;
  color: #131313;
  margin: 0;
  padding: 0px;
  font-family: Arial;
  &.hidden {
    overflow: hidden;
  }
}

.container {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
}


.btn {
  display: inline-block;
  background: #92007d;
  padding: 4px 25px;
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  border: solid 1px #787379;
  cursor: pointer;
  text-transform: uppercase;
}

.virtual {
   &-block {
    display: flex;
    cursor: pointer;
    align-items: center;
    gap: 5px;
  }
  &-text {
    font-size: 12px;
    color: #919499;
  }
}

select {
  display: block;
  max-width: 100%;
  width: 100%;
  font-size: 13px;
  height: 25px;
  option {
    font-size: 13px;
  }
}

.breadcrumbs {
  &-list {
    display: flex;  
    flex-wrap: wrap;
    align-items: center;
    gap: 5px 20px;
  }
  &-link {
    position: relative;
    padding-left: 24px; 
    cursor: pointer;
    span {
      font-size: 11.6px;
      color: #606060;
      text-decoration: underline;
    }
    &.point {
      cursor: default;
      span {
        text-decoration: none;
      }
    }
    
    &:before {
      position: absolute;
      left: 0;
      font-size: 17.6px;
      content: " > ";
    }
  }
}